<div class="big-gradient"></div>


<alt-header></alt-header>

<main>
    <div class="big-text text-center">
        <h1 class="display-1 d-inline-block" id="l1">Crie e Participe de projetos</h1>
        <br>
        <h1 class="display-1 d-inline-block" id="l2">Inovadores</h1>
        <h3 class="sub mt-2">Conecte-se com desenvolvedores e construa algo novo.</h3>
    </div>

    <div class="content mx-auto">

        <div class="questions position-relative mb-5">
            <div class="row text-center bg-white p-0 p-md-3">
                <div class="col-md-6 col-12 my-md-0 my-3">
                    <h2 class="clickable underline_eff mb-0 position-relative d-inline-block" routerLink="/create">Teve uma idéia de projeto?</h2>
                    <h5 class="mt-3">Porém a equipe está pequena?</h5>    
                </div>
                <div class="col-md-6 col-12 my-md-0 my-3">
                    <h2 class="clickable underline_eff mb-0 position-relative d-inline-block" routerLink="/open">Quer participar de projetos?</h2>
                    <h5 class="mt-3">E aumentar seu network?</h5>
                </div>
            </div>
        </div>  
    </div>
</main>