main {
    background: black;
}

.project-wrapper{
    width: 80vw;
    min-width: 800px;
    @media screen and (max-width: 1200px) {
        min-width: 0;
        width: 100vw;
    }
}

.project{
    border-radius: .5rem;
}

.project-info{
    color: var(--bs-gray);
    h2 {
        font-size: 1rem;
    }
}

.detail-cell {
    background-color: var(--grayish-color);
    border-radius: 5px;
}

.experience-tags {
    span {
        transition: transform .2s;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        &:hover{
            transform: translateY(-2px);
        }
    }
}

.project-actions .btn {
    transition: scale .2s;
    &:hover{
        scale: .99;
    }
}

.creator{
    cursor: pointer;
}

.member-name{
    max-height: min-content;
    p.username{
        cursor: pointer;
        text-wrap: nowrap;  
    }
}

.req-btn{
    background: var(--deep-blue);
}

.config-user{
    cursor: pointer;
}

.edit-tag-modal{
    min-width: 100px;
    width: max-content;
    max-width: 90vw;
}

.close-modal {
    cursor: pointer;
    transition: scale .1s;
    scale: 1.4;
    &:hover{
        scale: 1.2;
    }
}