<header class="pt-0 pb-0 pe-3 ps-3 d-flex align-items-center justify-content-between">
    <div class="logo flex-grow-1" routerLink="/landing">
        <h1 class="title mb-0">
            <span id="_0">Make</span>
            <span id="_1">A</span>
            <span id="_2">Team</span>
        </h1>
    </div>
    <div class="fast-acess flex-grow-1 d-flex align-items-center justify-content-end">
        <div class="buttons d-flex flex-row gap-2 align-items-center">
            <ul class="list-unstyled mb-0 text-center">
                <li class="link list-inline-item" routerLink="/open">Início</li>
                <li *ngIf="!!userUid" class="link list-inline-item text-primary" routerLink="/my-project">Meus Projetos</li>
                <li *ngIf="!userUid" class="link list-inline-item" routerLink="/register">Registrar</li>
                <li *ngIf="!userUid" class="link list-inline-item" routerLink="/login">Login</li>
            </ul>
            <acess-button *ngIf="!!userUid" logo="./header/create.svg" routerLink="/create"></acess-button>
            <acess-button *ngIf="!!userUid" logo="./header/person.svg" [routerLink]="['/user', userUid]"></acess-button>
        </div>
    </div>
</header>