<header class="pt-0 pb-0 pe-3 ps-3 d-flex align-items-center justify-content-between">
    <div class="logo flex-grow-1">
        <h1 class="title mb-0">
            <span id="_0">Make</span>
            <span id="_1">A</span>
            <span id="_2">Team</span>
        </h1>
    </div>
    <div class="fast-acess flex-grow-1 d-flex align-items-center justify-content-end">
        <div class="buttons d-flex flex-row gap-2">
            <acess-button logo="./header/create.svg"></acess-button>
            <acess-button logo="./header/chat.svg"></acess-button>
        </div>
    </div>
</header>