header{
    height: var(--header-height);
    background-color: #024959;
}

.logo {
    cursor: pointer;
}

.title{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;

}

.fast-acess .buttons ul li{
    cursor: pointer;
}

.fast-acess{
    li{
        transition: color .2s;
        &:hover{
            color: #3CA6A6;
        }
    }
}