.user-wrapper{
    width: 60vw;
    min-width: 800px;
    @media screen and (max-width: 1200px) {
        min-width: 0;
        width: 100vw;
    }
}

.user {
    border-radius: .5rem;
}

.projects-grid{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.logout-btn, .save-btn, .add-tech-btn{
    min-width: 120px;
}

.add-tech-btn{
    background: var(--deep-blue);
}

.remove-tag {
    cursor: pointer;
}