.credentials {
    width: 90%;
}

.submit-btn {
    width: 120px;
}

.input-info {
    transform: translateY(15px);
}

.to-login{
    cursor: pointer;
    transition: filter .2s;
    &:hover{
        filter: brightness(50%);
    }
}