<app-standart>
  <div class="create-project-wrapper mx-auto p-md-3 p-0 mb-md-2 mb-0">
    <div class="create-project bg-white shadow p-2 pt-4 pb-4">
      <div class="head text-center p-4">
        <h2 class="text-primary">&lt;Criar Novo Projeto/&gt;</h2>
        <p>Preencha os detalhes do seu projeto</p>
        <hr>
      </div>
      <div class="project-form px-4">
        <form [formGroup]="createProjectForm" class="d-flex flex-column gap-3" (ngSubmit)="postProject()">
          <div class="text-start">
            <div class="input-info d-flex flex-row justify-content-between w-100">
              <p class="mb-0">Nome do projeto*</p>
              <p class="mb-0 text-danger fw-light d-inline text-nowrap" *ngIf="createProjectForm.controls['name'].touched && createProjectForm.controls['name'].invalid">{{ controlWarn.name }}</p>
            </div>
            <custom-input-form
              placeholder="Ex: E-Commerce Futurista"
              type="text"
              [control]="createProjectForm.controls.name"
            ></custom-input-form>
          </div>
          <div class="description text-start">
            <div class="input-info d-flex flex-row justify-content-between w-100">
              <p class="mb-0">Descrição do projeto*</p>
              <p class="mb-0 text-danger fw-light d-inline text-nowrap" *ngIf="createProjectForm.controls['description'].touched && createProjectForm.controls['description'].invalid">{{ controlWarn.description }}</p>
            </div>
            <textarea formControlName="description" class="form-control w-100 p-2" placeholder="Descreva seu projeto com detalhes: objetivos, funcionalidades, etc..."></textarea>
          </div>
          <div class="row">
          <div class="col-12 col-md-6 mb-3 mb-md-0 text-start">
            <div class="description">
              <div class="input-info d-flex flex-row justify-content-between w-100">
                <p class="mb-0">Categoria*</p>
                <p class="mb-0 text-danger fw-light d-inline text-nowrap" *ngIf="createProjectForm.controls['category'].touched && createProjectForm.controls['category'].invalid">{{ controlWarn.category }}</p>
              </div>
              <select formControlName="category" class="form-select">
                <option value="" selected disabled>Selecione uma categoria</option>
                <option *ngFor="let pC of projectCategory; let i = index" [value]="i">{{ pC }}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-6 text-start">
            <div class="description">
              <div class="input-info d-flex flex-row justify-content-between w-100">
                <p class="mb-0">Nível de Experiência</p>
                <p class="mb-0 text-danger fw-light d-inline text-nowrap" *ngIf="createProjectForm.controls['experience'].touched && createProjectForm.controls['experience'].invalid">{{ controlWarn.experience }}</p>
              </div>
              <select formControlName="experience" class="form-select" (change)="addEx($event)">
                <option value="" selected disabled>Selecione níveis de experiência</option>
                <option *ngFor="let eL of experienceLevel; let i = index" [value]="i">{{ eL }}</option>
              </select>
              <div class="tags p-0 d-flex flex-row align-items-center gap-2 overflow-x-auto mb-1">
                <p class="tag" *ngFor="let tag of expArr; let i = index">{{ tag }} <span class="remove-tag" (click)="removeEx(i)">x</span></p>
              </div>
            </div>
          </div>
          </div>
          <div class="necessary-tech text-start">
            <div class="input-info d-flex flex-row justify-content-between w-100">
              <p class="mb-0">Tecnologias Necessárias*</p>
            </div>
            <div class="form-control p-2">
              <div class="tags p-0 d-flex flex-row align-items-center gap-2 overflow-x-auto mb-1">
                <p class="tag" *ngFor="let tag of techArr; let i = index">{{ tag }} <span class="remove-tag" (click)="removeTag(i)">x</span></p>
              </div>
              <div class="add-tech d-flex flex-row">
                <input formControlName="technologies" type="text" class="form-control p-2">
                <div class="add-tech-btn w-auto px-3 d-flex justify-content-center align-items-center" (click)="addTag()">Adicionar</div>
              </div>
              <p class="mb-0 text-danger fw-light d-inline text-nowrap" *ngIf="createProjectForm.touched && createProjectForm.hasError('requiredTech')">{{ controlWarn.technologies }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4 mb-3 mb-md-0 text-start">
              <div class="input-info d-flex flex-row justify-content-between w-100">
                <p class="mb-0">Data de início*</p>
              </div>
              <custom-input-form
              placeholder="dd/mm/yyyy"
              type="date"
              [control]="createProjectForm.controls.startDate"
              ></custom-input-form>
              <p class="mb-0 text-danger fw-light d-inline text-nowrap" *ngIf="createProjectForm.controls['startDate'].touched && createProjectForm.controls['startDate'].hasError('required')">{{ controlWarn.startDate }}</p>
              <p class="mb-0 text-danger fw-light d-inline text-nowrap" *ngIf="createProjectForm.controls['startDate'].touched && createProjectForm.controls['startDate'].hasError('pastDate')">{{ controlWarn.invalidStartDate }}</p>
            </div>
            <div class="col-12 col-md-4 mb-3 text-start">
              <div class="input-info d-flex flex-row justify-content-between w-100">
                <p class="mb-0">Duração estimada (semanas)</p>
              </div>
              <custom-input-form
              placeholder=""
              type="number"
              [control]="createProjectForm.controls.estimatedTime"
              ></custom-input-form>
              <p class="mb-0 text-danger fw-light d-inline text-nowrap" *ngIf="createProjectForm.controls['estimatedTime'].touched && createProjectForm.controls['estimatedTime'].invalid">{{ controlWarn.estimatedTime }}</p>
            </div>
            <div class="col-12 col-md-4 text-start">
              <div class="input-info d-flex flex-row justify-content-between w-100">
                <p class="mb-0">Vagas*</p>
              </div>
              <custom-input-form
              placeholder=""
              type="number"
              [control]="createProjectForm.controls.vacancy"
              ></custom-input-form>
              <p class="mb-0 text-danger fw-light d-inline text-nowrap" *ngIf="createProjectForm.controls['vacancy'].touched && createProjectForm.controls['vacancy'].invalid">{{ controlWarn.vacancy }}</p>
            </div>
          </div>
          <div class="text-start">
            <div class="input-info d-flex flex-row justify-content-between w-100">
              <p class="mb-0">Link do repositório (opcional)</p>
            </div>
            <custom-input-form
              placeholder="https://github/seu-usuario/seu-projeto"
              type="text"
              [control]="createProjectForm.controls.repository"
            ></custom-input-form>
          </div>
          <hr>
          <div class="form-opt d-flex flex-row gap-3 align-items-center justify-content-end">
            <div class="btn cancel-btn" routerLink="/open">Cancelar</div>
            <button type="submit" class="btn submit-btn" [disabled]="createProjectForm.invalid">Criar Projeto</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-standart>
