.custom-input{
    position: relative;
    border-radius: 5px;
    height: min-content;
    &::before{
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -5px;
        left: 0;
        background-color: #9b9b9b;
    }    
}

.selected{
    &::before{
        background-color: var(--bs-primary) !important;
    }   
}

.wrong{
    &::before{
        background-color: var(--bs-danger) !important;
    }   
}

.ok{
    &::before{
        background-color: var(--bs-green);
    } 
}

.input-icon img{
    --input-size: 30px;
    width: var(--input-size);
    height: var(--input-size);
    object-fit: cover;
}

input{
    outline: none;
    border: none;
    background-color: transparent;
}
