main{
    height: calc(100dvh - var(--footer-height));
}

.form-cell{
    width: 600px;
    max-width: 90vw;
    height: max-content;
    border-radius: 5px;
    background-color: white;
}

.form-title{
    border-radius: 5px 5px 0 0;
}

.title-text{
    font-size: 1.4rem;
}
