<div class="project-card shadow">
    <div class="project-body p-4 d-flex flex-column h-100">
        <div class="flex-grow-1">
            <h5 class="title mb-1">{{title}}</h5>
            <h5 class="creator mb-2" [routerLink]="['/user', creatorUid]">{{creator}}</h5>
            <div class="description mb-2 "><p class="mb-0 d-inline text-primary-emphasis">{{description}}</p></div>
            <div class="tags p-0 d-flex flex-row align-items-center gap-2 overflow-x-auto">
                <p class="tag" *ngFor="let tag of tags">{{tag}}</p>
            </div>
        </div>
        <div>
            <div class="info my-3 d-flex align-items-center justify-content-between bg">
                <p class="mb-0 members">{{ members.length }} / {{vacancyAmount}} membros</p>
                <p class="mb-0 time">{{createdAt | date }}</p>
            </div>
            <div class="acess btn btn-primary w-100" [routerLink]="[`/project/${uid}`]">Ver Projeto</div>
        </div>
    </div>
</div>