:host{
    height: max-content;
    max-width: 95vw;
}

.project-card{
    height: 333px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    transition: transform .2s;
    &:hover{
        transform: translateY(-10px);
    }
}

.project-body{
    border-radius: 5px;
}

.title{
    color: var(--bs-primary);
    font-weight: 600;
}

.info p {
    color: var(--bs-gray);
}


.description{
    max-height: 90px;
    height: 90px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    p {
        text-wrap: wrap;
    }
}

.creator{
    color: var(--bs-gray);
    font-size: 1rem;
}