:host{
    height: max-content;
    max-width: 95vw;
}

.project-card{
    height: max-content;
    height: 100%;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.project-body{
    border-radius: 5px;
}

.title{
    color: var(--bs-primary);
    font-weight: 600;
}

.info p {
    color: var(--bs-gray);
}


.description{
    height: 50px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    p {
        text-wrap: wrap;
    }
}